@CHARSET "ISO-8859-1";
.caixaMensagens{
	height: 500px;
    background: whitesmoke;
    border-radius: 4%;
    box-shadow: black 10px 10px 30px -5px;
    margin-bottom: 15px;
}

.caixaMensagens{
	overflow-x : scroll;
    background-image: url('../img/img.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 241px;
    width : 75%;
}

.btnEnviar{
	background: green;
    width: 10%;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    float: right;
    font-family: monospace;
}

.msg{
	background: rgb(201, 255, 195);
    width: 25%;
    border-radius: 5%;
    padding: 10px;
    /* height: 58px; */
    margin-top: 19px;
    margin-left: 15px;
    background : url('../img/mini.png');
    background-repeat: no-repeat;
}

.msgbody p{
	background-color: rgb(86, 196, 239);
    padding: 10px;
    border-radius: 10px;
}

.calendar{
	background: rgb(164, 217, 234);
    padding: 7px;
    border-radius: 8px;
}

.usuarios{
	border: solid black 2px;
    width: 24%;
    height: 492px;
    float: right;
    border-radius: 2%;
}

.topUsers{
	background : cadetblue;
	color: white;
    /* margin: -5px; */
    font-family: monospace;
}

#logo{
	background: cornflowerblue;
    box-shadow: black 13px 11px 14px;
}

@font-face{
	font-family : 'padraoTitulo';
	src : url('../fonts/ostrich-sans-black.woff') format('woff');
}

#legend{
	font-family :'padraoTitulo';
	color : white;
	font-size : 100px;
}

#full{	
	background: gold;
}

.redondo{
	border-radius: 10px;
    padding: 13px;
   	width: 89%;
    margin: 40px;
}

#salvar{
	background: green;
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 10px;
    margin-top: 10%;
}

#salvar:hover{
	background : cornflowerblue;
}

#salvar span{
	color : white;
	margin : 40px;
	font-size: 49px;
    font-family: padraoTitulo;
}

#salvar div{
	padding: 2%;
	text-align: center;
	cursor : pointer;
}

input[name=usuario]{
	background-image: url('../img/user.png');
    background-position: right;
    background-repeat: no-repeat;
}

input[name=nick]{
	background-image: url('../img/nick.png');
    background-position: right;
    background-repeat: no-repeat;
}

input[type=password]{
	background-image: url('../img/padlock.png');
    background-position: right;
    background-repeat: no-repeat;
}

#avatar{
	background: #348AF7;
    border-radius: 10px;
    padding: 5px;
    margin-top : 20px;
    padding: 5px;
    text-align : center;
}

.avatarImg{
	background: #F0FFEF;
    border-radius: 25px;
    padding: 5px;
    cursor : pointer;
}

.avatarImg:hover{
/* 	zoom : 1.2; */
	background : crimson;
	border-radius : 0px 0px 0px 20px;
}

.avatarImgSelecionado{
	background : crimson;
	border-radius : 0px 0px 0px 20px;
}
.fontPattern{
	font-family: 'padraoTitulo';
    color: white;
    font-size: 40px;
}

.cornColor{
	background: cornflowerblue;
    box-shadow: black 13px 11px 14px;
    padding: 5px;
}